.numeric  {
  color: rgb(232, 141, 167);
}

.future-emojis {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.list-group-flush {
  padding: 1px;
  margin: 25px;

  font-size: 20px;
}

#week-days-forecast, #week-temperature-forecast{
  font-size: 20px;
  display: inline;
  margin: 0 auto;
 
}

#week-emojis-forecast{
  font-size: 20px;
  padding: 15px 10px;
}